body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #25404B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.p {
    color: white;
    font-weight: bold;
}

#main {
    padding: 20px 100px;
    background-color: #B97D2D;
    color: white;
    text-align: center;
}

.main-text {
    font-size: 13px;
    padding: 0px 80px;
    text-align: left;
}

#newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #25404B;
    padding: 10px 100px;

}

#footer {
    background-color: #25404B;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 11px;
}
.nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.subscribe {
    margin-top: 20px;
}

img {
    width: 70px;
    height: auto;
}

#images {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 100px;
}
